/**************************
*
*	GENERAL
*
**************************/
.cameramain{
    position: relative;
}

.bgslider{
    position: relative;
    background: #ffffff;
    overflow: hidden;
}

.slider{
    position:relative;
    margin-bottom: 0 !important;
    z-index: 500;
    
}

.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	overflow:visible;
	width: 100%;
    height: auto;
    margin-bottom: 0 !important;
}
.slidershadow{
    position: relative;
    width: 100%;
    height: 11px;
}
.camera_wrap img {
	max-width: none !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 400px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;	
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 1;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/*--------------------------------------------*/
    .camera_caption{
        display: none;
        position: absolute;
        margin: 0 auto;
        left: 50%;
        margin-left: -470px;
        bottom: 17%;
    }

    .camera_caption_bg{
        display: none !important;
        text-align: left;
        width: 490px;
        padding: 0;
        margin: 0;
        float: none;
    }
/*
    .camera_caption .title1{	
        vertical-align: top;
        text-transform: uppercase;
        top: 0;
        overflow: hidden;
        font-family: 'Jockey One', sans-serif;
        font-size: 72px;
        line-height: 62px;
        font-weight: normal;
        color:#FFF;
        text-shadow: 1px 1px 1px #8d95a3;
        filter: dropshadow(color=#8d95a3, offx=1, offy=1);
        margin: 0;
    }

    .camera_caption .title2{
        text-transform: lowercase;
        font-family: 'Jockey One', sans-serif;
        font-size: 40px;
        line-height: 40px;
        font-weight: 400;
        color:#FFF;        
        margin: 0 ;
        width: 100%;
        letter-spacing: -1px;
        margin-bottom: 37px;
        text-shadow: 1px 1px 1px #8d95a3;
        filter: dropshadow(color=#8d95a3, offx=1, offy=1);
    }
    
    .box1{
        width: 310px;
        display: block;
        position: relative;
        overflow: hidden;
        margin-bottom: 33px;
    }
    
    .listcam {    
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #FFF;
        position: relative; 
        list-style: none;
        margin-bottom: 14px;
        padding-left: 26px;
        float: left;
        display: block;
        background: url(../img/page1_icon1.png) 0 4px no-repeat;
        
    }
    .listcam:hover {    
        color: #cfffe3;
        
    }
*/
        
/*-------------------------------------------*/
.camera_pag {
    z-index: 10;
    bottom: 32px;
    left: 50%;
    margin-left: -69px;
    position: absolute;
}

.camera_pag_ul{
    position: relative;
    text-align: center;
    width: 100%;
    height: 17px;
    overflow: hidden;    

}
.camera_pag_ul li span {
    display: none;
}
.camera_pag_ul li {
    margin: 0 6px 0 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    width: 42px;
    height: 13px;
    display: inline-block;
    background: #3e454c;
}
.camera_pag_ul li:hover {
    width: 42px;
    height: 13px;
    display: inline-block;
    background: #3498db;
}
.camera_pag_ul li.cameracurrent {
    width: 42px;
    height: 13px;
    display: inline-block;
	background: #3498db;
}

/*---------------------------------------------------------*/
.camera_loader {
	background: url(../img/camera-loader.gif) no-repeat center;
	border-radius: 200px;
	height: 31px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 31px;
	z-index: 3;
}

.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}

.camera_prev,
.camera_next {
    display: none !important;
    cursor: pointer;
    position: absolute; 
    z-index: 1000;
    bottom:48%;
    width:18px;
    height:26px;
}
/*
.camera_prev {
    background: url(../img/camprev.png) center top no-repeat;
    left: 35px;
}
.camera_next {
    background: url(../img/camnext.png) center top no-repeat;
    right: 35px;
}
.camera_prev:hover {
    background: url(../img/camprev.png) center -26px no-repeat;
}
.camera_next:hover {
    background: url(../img/camnext.png) center -26px no-repeat;
}
*/

/*-------------------------------------------------------------------*/
@media (max-width: 1220px) {
    

    


}
	 
/*-------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    

}

/*-------------------------------------------------------------------*/

@media only screen and (max-width: 979px) {
    


}
 
 
/*-------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    




} 

/*-------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
    

    

}

/*-------------------------------------------------------------------*/
@media only screen and (max-width: 440px) {
    

    
}

