@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
/*------ template stylization ------*/
body {
	background: #3e454c;
}
.bgwhite {
	background: #ffffff;
}
.thumb-pad {
	padding: 0 !important;
}
.thumbnail {
	line-height: 0 !important;
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
/*---------------row_s----------------*/
.row_1 {
	padding: 0 0 30px;
	background: #f9f9f9;
}
.row_2 {
	padding: 65px 0 55px;
	background: #f9f9f9;
}
.row_3 {
	padding: 53px 0 25px;
	background: #FFF;
}
.row_4 {
	padding: 21px 0 85px;
	background: #FFF;
	border-top: 1px solid #ebeced;
}
.row_5 {
	background: #FFF;
}
.row_6 {
	padding: 20px 0 68px;
	background: #f9f9f9;
}
.row_6 h2 {
	padding: 30px 0 35px;
}
.row_6 p {
	color: #bab9b9 !important;
}
.row_7 {
	padding: 54px 0 73px;
	background: #FFF;
}
.row_7 h2 {
	padding-bottom: 28px;
}
.row_7 p {
	color: #bab9b9 !important;
}
.row_8 {
	padding: 20px 0 149px;
	background: #f9f9f9;
}
.row_8 h2 {
	padding: 30px 0 35px;
}
.row_9 {
	padding: 21px 0 150px;
	background: #f9f9f9;
}
.row_9 h2 {
	padding: 30px 0 35px;
}
.row_10 {
	padding: 20px 0 106px;
	background: #f9f9f9;
}
.row_10 h2 {
	padding: 30px 0 35px;
}
.row_11 {
	padding: 32px 0 77px;
	background: #FFF;
}
.row_12 {
	padding: 20px 0 72px;
	background: #f9f9f9;
}
.row_14 {
	padding: 13px 0 90px;
	background: #f9f9f9;
}
.row_15 {
	padding: 13px 0 90px;
	background: #f9f9f9;
}
.padbot1 {
	padding: 30px 0 32px !important;
}
.padbot3 {
	padding: 30px 0 30px !important;
}
/*----------- Back to top --------------*/
#toTop {
	display: none;
	width: 27px;
	height: 19px;
	overflow: hidden;
	background: url(../img/totop.png) 0 bottom no-repeat;
	position: fixed;
	margin-right: -690px !important;
	right: 50%;
	bottom: 60px;
	z-index: 999;
}
#toTop:hover {
	background-position: 0 0;
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*---------------headings links------------------*/
p {
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}
h2 {
	position: relative;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 34px;
	font-weight: 300;
	color: #333745;
	margin: 0;
	padding: 30px 0 32px;
}
h3 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #0069A9;
	padding: 0;
	margin: 0;
	margin-bottom: 11px;
}
h4 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 600;
	color: #3e454c;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
.btn1 {
	text-transform: uppercase;
	position: relative;
	border: none;
	border-radius: 0;
	color: #FFF;
	box-sizing: border-box;
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	line-height: 24px;
	font-weight: 300;
	padding: 20px 15px 25px;
	background: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn1:hover {
	color: #0069A9;
	background: #ffffff;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn2 {
	text-transform: uppercase;
	position: relative;
	border: none;
	border-radius: 0;
	color: #FFF;
	box-sizing: border-box;
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	padding: 13px 33px 14px;
	background: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn2:hover {
	background: #3e454c;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn3 {
	text-transform: uppercase;
	position: relative;
	border: none;
	border-radius: 0;
	color: #FFF;
	box-sizing: border-box;
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	padding: 11px 24px 12px;
	background: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn3:hover {
	background: #3e454c;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/************* header ***************/
.pagesheader {
	padding-bottom: 34px;
	background: url(../img/bgpages.jpg) center top no-repeat;
}
.headertop {
	position: relative;
}
header {
	background: #ffffff;
}
header hr {
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	outline: none;
	padding: 0;
	width: 100%;
	height: 24px;
	background: #0069A9;
	margin: 0;
}
/*-------- Logo -------- */
.navbar-brand_ {
	float: left;
	display: block;
	position: relative;
	text-align: center;
	padding: 60px 0 0;
	margin: 0;
}
.navbar-brand_ img {
	max-width: 100%;
}
h1.navbar-brand_ a {
	display: inline-block;
	position: relative;
	background: #FFF;
	z-index: 10;
}
.navbar-brand_a:hover {
	text-decoration: none;
}
.rightside {
	position: relative;
	margin-top: 107px;
	float: right;
}
/*-----------------navbar---------------------*/
.menuheader {
	position: relative;
	display: block;
	margin-right: 0;
}
.tm_navbar {
	position: relative;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}
.tm_navbar .nav {
	float: none;
	position: relative;
	display: inline-block;
}
.tm_navbar ul {
	position: relative;
	padding: 0;
	margin: 0;
	background: none;
	list-style: none;
}
.tm_navbar .nav li:first-child {
	position: relative;
	zoom: 1;
	background: none;
}
.tm_navbar .nav li {
	text-align: center;
	float: left;
	padding: 0;
	position: relative;
	zoom: 1;
}
.tm_navbar .nav li.last a {
	margin: 0 0 0 8px;
}
.tm_navbar .nav li a {
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
	color: #3e454c;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	background: transparent;
	padding: 0;
	margin: 0 21px;
	border: none;
	border-radius: 0;
	text-shadow: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.tm_navbar .nav > li > a .indicator1 {
	background: url(../img/indicator.png) 0 bottom no-repeat;
	width: 7px;
	height: 5px;
	display: inline-block;
	top: 26px;
	right: 39%;
	position: absolute;
	margin-right: 1px;
	z-index: 5;
}
.tm_navbar .nav li a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover {
	color: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.tm_navbar .nav > .active > a, .tm_navbar .nav > .active > a:hover, .tm_navbar .nav > .active > a:focus {
	color: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.tm_navbar .nav > li.sfHover.active > a .sf-sub-indicator, .tm_navbar .nav > li.active > a .sf-sub-indicator {
	color: #0069A9;
	background-position: 0 0;
}
.tm_navbar .nav > li.sfHover > a, .tm_navbar .nav > li.sfHover > a:hover, .tm_navbar .nav > li > a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover {
	color: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/*---------submenu1-------------*/
.tm_navbar .nav ul {
	position: absolute;
	display: none;
	top: 46px;
	left: -49px;
	width: 217px;
	padding: 35px 0;
	list-style: none;
	zoom: 1;
	z-index: 11;
	background: #fff;
	margin: 0;
	text-align: center;
	color: #000;
    border: 0.01em solid #ddd;
}
.tm_navbar .nav ul li:first-child {
	width: 100%;
	padding: 0 0 2px;
	display: block;
	position: relative;
	zoom: 1;
	z-index: 10;
	border-top: none;
	background: none;
}
.tm_navbar .nav ul li:first-child img {
	position: absolute;
	top: -43px;
	left: 21px;
}
.tm_navbar .nav ul li {
	width: 100%;
	text-align: center;
	padding: 3px 0;
	display: block;
	position: relative;
	zoom: 1;
	z-index: 10;
	background: none;
}
.tm_navbar .nav ul li a {
	position: relative;
	color: #006aa7;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	margin: 0;
	background: transparent;
}
.tm_navbar .nav ul li a:hover {
	color: #0069A9;
}
/*--------------------------*/
.tm_navbar .nav > li > ul li > a:hover, .tm_navbar .nav > li > ul li.sfHover > a {
	text-decoration: none;
	color: #0069A9;
	background: transparent;
}
.tm_navbar .nav > li > ul li > a:hover, .tm_navbar .nav > li > ul ul li.sfHover > a {
	text-decoration: none;
	color: #0069A9;
	background: transparent;
}
/*-----------submenu2-----------*/
.tm_navbar .nav ul ul {
	list-style: none;
	width: 197px;
	padding: 29px 0 26px;
	background: #0069A9;
	left: 235px;
	top: -1px;
}
.tm_navbar .nav ul ul .imgsub2 {
	position: absolute;
	top: -16px !important;
	left: -5px !important;
}
.tm_navbar .nav ul ul li:first-child {
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 6px;
	position: relative;
	zoom: 1;
	border-top: none;
	z-index: 11;
	background: transparent;
}
.tm_navbar .nav ul ul li {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
	padding: 0;
	position: relative;
	zoom: 1;
	z-index: 11;
	background: none;
}
.tm_navbar .nav ul ul li a {
	padding: 0;
	margin: 0;
	background: transparent;
	color: #ffffff;
}
.tm_navbar .nav ul ul li a:hover {
	color: #3e454c;
	background: transparent;
}
/*-----indicator2-------*/
.tm_navbar .nav ul .indicator2 {
	background: url(../img/indicator2.png) 0 0 no-repeat;
	width: 5px;
	height: 7px;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	top: -1px;
	z-index: 5;
}
/*-------------------select------------------*/
.select-menu {
	display: none !important;
}
/************** header end **************/
/************** content **************/
.box1 {
	background: rgb(255, 230, 27);
	padding: 53px 57px 43px;
	position: relative;
	overflow: hidden;
}
.box1 .btn1 {
	float: right;
	margin: 3px 4px 0 0;
}
.title1 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 46px;
	line-height: 40px;
	font-weight: 300;
	color: #0069A9;
	margin-bottom: 14px;
}
.title2 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	color: #787d82;
	word-spacing: 4px;
}
.box1txt {
	overflow: hidden;
	float: left;
	position: relative;
}
/*---------------list1-------------------*/
.list1 {
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 100;
}
.list1 li {
	overflow: hidden;
	position: relative;
	list-style: none;
	margin-bottom: 40px;
}
.list1 li .list1overflow {
	text-align: center;
	overflow: hidden;
	margin: 0 0 21px !important;
}
.list1 li .list1overflow figure {
	float: none;
	margin: 0 0 10px 0;
}
.mbotlist1 {
	margin-bottom: 26px;
}
.listtitle1 {
	text-align: center;
	position: relative;
	display: block;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	color: #0069A9 !important;
	padding: 0;
	margin: 0 !important;
}
.listtitle1 span {
	display: block;
	color: #3e454c;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	margin-top: 3px;
}
/*------ list-whatsnew ------- */
.list-whatsnew {
	padding: 0;
	margin: 0;
	list-style: none;
}
.list-whatsnew h3 {
	margin-bottom: 14px;
	margin-top: -4px;
	line-height: 25px;
}
.list-whatsnew h3 a {
	color: #0069A9;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-whatsnew h3 a:hover {
	color: #333745;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-whatsnew p {
	margin-bottom: 29px;
}
.list-whatsnew .overflow {
	overflow: hidden;
}
.list-whatsnew li {
	overflow: hidden;
	padding-top: 0;
	margin-bottom: 40px;
}
.badge_1 {
	width: 70px;
	text-align: center;
	background: rgb(255, 230, 27);
	float: left;
	text-shadow: none;
	padding: 10px 0 17px;
	margin-right: 28px;
	white-space: normal;
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
}
.badge_1 .badgetxt {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	line-height: 47px;
	font-weight: 300;
	color: #0693e3;
	margin: 0;
}
.badge_1 .badgetxt span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	color: #0069A9;
}
/*----------row3-----------*/
.title_welcome {
	position: relative;
	display: block;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	line-height: 45px;
	font-weight: 300;
	color: #0069A9 !important;
	padding: 31px 0 48px;
	margin: 0 !important;
}
.title_welcome span {
	display: block;
	color: #3e454c;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 26px;
	font-weight: 300;
	margin-top: 7px;
}
.welcome figure {
	float: left;
	margin: 0 28px 10px 0;
}
.welcome h3 {
	margin-top: -5px;
	line-height: 25px;
}
/*--------------------boxyoutube-------------------*/
.boxtube {
	position: relative;
	overflow: hidden;
	height: 196px;
}
.boxtube .boxtube1 {
	width: 100%;
	height: 100%;
	border: none;
}
.shortly h3 {
	margin-bottom: 13px;
}
.shortly p {
	margin-bottom: 7px;
}
/*--------------list2-------------*/
.list2 {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 12px;
}
.list2 li {
	position: relative;
	margin-bottom: 6px;
}
.list2 li em {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	float: left;
	margin-right: 12px;
	margin-top: 5px;
}
.list2 li em img {
	top: 0;
	left: 0;
	width: 16px;
	vertical-align: top;
	height: 16px;
}
.list2 li p {
	overflow: hidden;
	margin-bottom: 0;
}
.list2 li p a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #bab9b9;
	left: 0;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list2 li p a:hover {
	color: #0069A9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
/*-------map2---------*/
.map2 {
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin-bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
}
.map2 iframe {
	width: 100%;
	height: 278px;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
/*-----------box_about-----------*/
.box_about figure {
	margin-bottom: 18px;
	margin-top: 0;
}
.box_about h3 {
	margin-bottom: 14px;
}
.box_about p {
	color: #aaadb1;
	margin-bottom: 23px;
}
/*------ list_mission ------- */
.list_mission {
	padding: 0;
	margin: 0;
	margin-bottom: 41px;
	padding-bottom: 0;
	list-style: none;
}
.list_mission h3 {
	margin-bottom: 11px;
}
.list_mission p {
	color: #aaadb1;
	margin-bottom: 0;
}
.list_mission .overflow {
	overflow: hidden;
}
.list_mission a {
	color: #0069A9;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list_mission a:hover {
	color: #3e454c;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list_mission li {
	overflow: hidden;
	padding-top: 31px;
}
.list_mission li:first-child {
	padding: 0;
	border: none;
	margin: 0;
}
.badge_ {
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 55px;
	font-weight: 300;
	color: #FFF;
	width: 70px;
	text-align: center;
	background: #0069A9;
	float: left;
	text-shadow: none;
	padding: 8px 0 7px;
	margin-right: 19px;
	margin-top: 4px;
	white-space: normal;
	border-radius: 0;
	border: none;
	text-transform: uppercase;
}
/*---------------list_team-------------------*/
.list_team {
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 100;
}
.list_team li {
	overflow: hidden;
	position: relative;
	list-style: none;
	margin-bottom: 30px;
}
.list_team li figure a > img {
	width: 100%;
}
.list_team li figure a {
	position: relative;
	width: 100%;
	display: block;
}
.list_team li figure a span {
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 0px solid #ffffff;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.list_team li figure a:hover span {
	border: 8px solid #0069A9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*-----------testimonials2--------------*/
.list-quote2.extra {
	padding-bottom: 34px;
}
.list-quote2 {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list-quote2 li {
	background: none;
	margin-bottom: 30px;
}
.quote-2 {
	border: medium none;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.quote-2 p {
	vertical-align: text-top;
	margin: 0;
	padding: 0;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #aaadb1;
	margin-bottom: 14px;
}
.quote-2 p img {
	margin-right: 9px;
}
.quote-2 h3 a {
	color: #0069A9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.quote-2 h3 a:hover {
	text-decoration: none;
	color: #3e454c;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*--------------list3-------------*/
.thumbnail .caption_list3 {
	color: #aaadb1;
	padding: 18px 10px 30px 19px;
	margin: 0;
	text-align: left;
	background: #ebeced;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thumbnail .caption_list3 h3 {
	margin-bottom: 13px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thumbnail .caption_list3 p {
	color: #bab9b9;
	margin-bottom: 26px;
	line-height: 24px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thumbnail .caption_list3:hover {
	background: #3e454c;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.thumbnail .caption_list3:hover h3 {
	color: #ffffff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.list3 {
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 100;
}
.list3 li {
	overflow: hidden;
	position: relative;
	list-style: none;
	margin-bottom: 30px;
}
.list3 li figure {
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.list3 li figure img {
	width: 100%;
}
.list3 li figure > a {
	position: relative;
	display: block;
	margin: 0;
}
.list3 li figure a span {
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 0px solid #ffffff;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.list3 li figure a:hover span {
	border: 8px solid #0069A9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.list3 li h3 a {
	color: #3e454c;
	margin-bottom: 0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.list3 li h3 > a:hover {
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/*--------list-blog-----------*/
.list-blog {
	margin: 0;
	padding: 0;
}
.list-blog li {
	display: block;
	margin: 0;
	padding-bottom: 28px;
}
.list-blog li .date {
	padding-bottom: 0;
}
.list-blog li .date .extra-wrap {
	overflow: hidden;
}
.badge_3 {
	width: 70px;
	text-align: center;
	background: #3e454c;
	float: left;
	text-shadow: none;
	padding: 10px 0 17px;
	margin-right: 28px;
	white-space: normal;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.badge_3 .badgetxt {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	line-height: 47px;
	font-weight: 300;
	color: #ffffff;
	margin: 0;
}
.badge_3 .badgetxt span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	color: #0069A9;
}
.list-blog > li > div > figure {
	border: none;
	float: left;
	margin: 0;
	margin-right: 19px;
	margin-bottom: 10px;
}
.list-blog p.text-info a {
	position: relative;
	color: #a3a3a3;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.list-blog p.text-info a:hover {
	color: #0069A9;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.list-blog .extra-wrap h3 {
	margin-top: 0;
	margin-bottom: 15px;
}
.list-blog .extra-wrap h3 a {
	color: #0069A9;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.list-blog .extra-wrap h3 a:hover {
	text-decoration: none;
	color: #bab9b9;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.list-blog .extra-wrap .text-info2 {
	position: relative;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #bab9b9;
}
.btn-link3 {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #0069A9;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.btn-link3:hover {
	color: #aaadb1;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.btn-link3:focus {
	color: #aaadb1;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.btn-link4 {
	padding: 0;
	margin: -4px 0 0 0;
	text-decoration: none;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333745;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.btn-link4:hover {
	color: #0069A9;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.btn-link4:focus {
	color: #0069A9;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.blogcont h3 {
	margin-bottom: 8px;
}
.blogcont h3 a {
	color: #0069A9;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.blogcont h3 a:hover {
	text-decoration: none;
	color: #3e454c;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.blogcont p {
	color: #bab9b9;
	position: relative;
	margin-top: -7px;
	margin-bottom: 26px !important;
}
.blogcont .btn-link1 {
	margin-top: 6px !important;
	display: inline-block;
}
.categories {
	margin-top: 0;
	margin-bottom: 53px;
}
.categories li {
	margin-bottom: 7px;
}
/*-------- contacts page --------*/
.gmap {
	margin-top: 0;
}
.map {
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
}
.map iframe {
	width: 100%;
	height: 504px;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.address h2 {
	padding: 52px 0 29px;
}
address {
	margin: 0 0 0 0;
	margin-bottom: 9px;
}
address strong {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	color: #0069A9;
	display: block;
	margin-bottom: 18px;
}
address span {
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #aaadb1;
	display: block;
	margin-bottom: 23px;
}
address p {
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #aaadb1;
	margin: 9px 0 23px;
}
address p em {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 22px;
	font-weight: 600;
	color: #3e454c;
	font-style: normal;
	display: block;
	margin-bottom: 10px;
}
/*------------contact form------------*/
.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
	margin-right: 5px;
	margin-bottom: 5px;
	width: 199px;
	display: inline-block;
}
.contact-form .coll-3 {
	margin-right: 0;
}
.coll-message {
	position: relative;
}
#contact-form {
	margin-top: 5px;
	position: relative;
}
#contact-form label {
	position: relative;
	/*!*/
  display: block;
}
#contact-form span {
	display: block;
}
#contact-form ._placeholder {
	width: 100%!important;
	position: absolute;
	/*!*/
  left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #aaadb1;
	padding: 6px 10px 5px 10px;
	border-radius: 0;
	display: block;
}
#contact-form ._placeholder.focused {
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	font-weight: normal;
	opacity: .4;
	filter: alpha(opacity=40);
	box-shadow: none;
	padding: 6px 10px 5px 10px;
	width: 100%;
}
#contact-form ._placeholder.hidden {
	display: none;
}
#contact-form input, #contact-form textarea {
	outline: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #aaadb1;
	width: 100%;
	height: 33px;
	border-radius: 0;
	padding: 6px 10px 5px 10px;
	border: 1px solid #d7d7d7;
	background: #f6f6f7;
}
#contact-form textarea {
	height: 180px;
	resize: none;
	margin: 0 0 33px;
	overflow: hidden;
}
.req {
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #bab9b9;
	position: relative;
	display: inline-block;
	margin-left: 17px;
	top: 21px;
}
#contact-form > label {
	margin-bottom: 0;
}
#contact-form .error-message, #contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px/20px Arial;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 3px;
	top: 0;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	line-height: 22px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #f6f6f7;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.7s linear;
	transition: all 0.7s linear;
	padding: 0;
}
#contact-form.success .success-message {
	height: 35px;
	color: #bab9b9;
	padding: 8px 0;
	border: 1px solid #d7d7d7;
	-webkit-transition: all 0.7s linear;
	transition: all 0.7s linear;
}
/*-----------------privacy page-------------------*/
.privacy_page h3 {
	margin: 0 0 19px;
}
.terms p {
	line-height: 24px;
	margin: 0 0 23px !important;
	color: #bab9b9;
}
.padbot6 {
	padding-bottom: 44px !important;
}
.mbot4 {
	margin: 0 0 24px !important;
}
.privacy_page p {
	line-height: 24px;
	margin-bottom: 27px;
	color: #bab9b9;
}
.privacy_link {
	color: #0069A9;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.privacy_link:hover {
	text-decoration: none;
	color: #bab9b9;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
/*404 page*/
/*404 page*/
.block-404 {
	margin-top: 33px;
}
.block-404 figure {
	margin: 0;
}
.block-404 .forminfo h2 {
	padding-top: 4px;
	padding-bottom: 29px;
}
.block-404 p {
	width: 100%;
	line-height: 24px;
	margin-bottom: 13px;
	color: #bab9b9;
}
.block-404 h3 {
	margin-bottom: 16px;
	line-height: 25px;
}
.form-404 {
	width: 100%;
	display: block;
	margin-top: 0;
	position: relative;
	padding-right: 0;
}
.form-404 input {
	outline: none;
	font-family: Ubuntu, Arial, Helvetica, 'Nimbus Sans L', sans-serif;;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #aaadb1;
	width: 100%;
	height: 33px;
	border-radius: 0;
	padding: 6px 10px 5px 10px;
	border: 1px solid #d7d7d7;
	background: #f6f6f7;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	float: left;
}
.form-404 input:focus {
	box-shadow: none;
	outline: none;
	border: 1px solid #cecece;
}
.form-404 a {
	margin-top: 33px !important;
}
/************* content end **************/
/************** footer **************/
.footerrow1 {
	padding: 14px 0;
}
.social2 {
	float: right;
	overflow: hidden;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	margin: 0;
	padding-top: 4px;
	z-index: 10;
}
.social2 > li {
	display: inline-block;
	cursor: pointer;
	width: 34px;
	height: 34px;
	overflow: hidden;
	margin: 0;
	margin: 0 0 0 5px;
}
.social2 > li a {
	width: 34px;
	height: 34px;
	display: block;
	overflow: hidden;
}
.social2 > li a img {
	position: relative;
	top: 0;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.social2 > li a:hover img {
	position: relative;
	top: -34px;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
p.footerpriv {
	position: relative;
	overflow: hidden;
	text-transform: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #FFF;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 17px;
	width: 100%;
}
p.footerpriv a {
	text-transform: normal !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #FFF;
}
p.footerpriv a:hover {
	text-decoration: none;
	color: #0069A9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
p.footerpriv span {
	text-transform: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #0069A9;
}
p.footerpriv img {
	margin: 0 3px;
}
.privacylink {
	text-transform: normal !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300 !important;
	color: #0069A9 !important;
	margin: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.privacylink:hover {
	text-decoration: none;
	color: #ffffff !important;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/************** footer end **************/
/*-------------- media queries -------------------*/
/**********************************************************/
@media (min-width: 1220px) {
.form-404 {
	width: 79%;
}
.contact-form .coll-1,  .contact-form .coll-2,  .contact-form .coll-3 {
	margin-right: 5px;
	width: 250px;
	display: inline-block;
}
.contact-form .coll-3 {
	margin-right: 0;
}
.listtitle1 {
	text-align: left;
}
.list1 li .list1overflow {
	text-align: left;
	overflow: hidden;
	margin: 0 0 21px !important;
}
.list1 li .list1overflow figure {
	float: left;
	margin: 0 20px 10px 0;
}
.btn1 {
	padding: 20px 37px 25px;
}
.container {
	padding: 0;
}
}
/**********************************************************/
@media (min-width: 768px) and (max-width: 991px) {
.contact-form .coll-1,  .contact-form .coll-2,  .contact-form .coll-3 {
	margin-right: 0;
	width: 100%;
	display: inline-block;
}
.list-blog li {
	padding-bottom: 50px;
}
.list-blog > li > div > figure {
	border: none;
	float: none;
	width: 100%;
	margin: 0;
	margin-right: 0;
	margin-bottom: 10px;
}
.list-blog > li > div > figure img {
	width: 100%;
}
.badge_ {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
	color: #FFF;
	width: 40px;
}
.badge_1 {
	float: none;
}
.box1 {
	text-align: center;
}
.box1 .btn1 {
	float: none;
}
.box1txt {
	text-align: center;
}
.navbar-brand_ {
	padding: 50px 0 50px;
}
.tm_navbar .nav ul ul {
	width: 137px;
	left: 185px;
}
.tm_navbar .nav ul {
	left: -38px;
	width: 170px;
}
.tm_navbar .nav li a {
	margin: 0 10px;
}
}
/**********************************************************/
@media (max-width: 767px) {
.map iframe {
	width: 100%;
	height: 250px;
}
.contact-form .coll-1,  .contact-form .coll-2,  .contact-form .coll-3 {
	margin-right: 0;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
}
.box_about figure {
	margin-bottom: 10px;
	float: left;
	margin-right: 20px;
}
.social2 {
	float: none;
	margin: 0;
	padding-top: 4px;
}
.boxtube {
	width: 100%;
	height: 350px;
}
.box1 {
	padding: 30px;
	text-align: center;
}
.box1 .btn1 {
	float: none;
}
.title1 {
	line-height: 48px;
}
.box1txt {
	text-align: center;
}
.headertop {
	position: relative;
	margin: 0 auto;
	z-index: 9999;
}
.rightside {
	position: relative;
	margin-top: 0;
	float: none;
}
.navbar-brand_ {
	padding: 20px 0;
	display: block;
	float: none;
}
.navbar-brand_ img {
	width: 100%;
	height: 105px;
}
.menuheader {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 21px;
	overflow: hidden;
}
.tm_navbar {
	display: block;
}
.sf-menu {
	display: none !important;
}
.select-menu {
	display: block !important;
	color: #ffffff;
	border: 1px solid #3e454c;
	background: #33383d !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 5px;
}
.select-menu option {
	padding: 0;
}
}
/**********************************************************/
@media (max-width: 550px) {
.list-blog > li > div > figure {
	border: none;
	float: none;
	width: 100%;
	margin: 0;
	margin-right: 0;
	margin-bottom: 10px;
}
.list-blog > li > div > figure img {
	width: 100%;
}
.colteam {
	width: 50%;
}
.colquote {
	width: 100%;
}
.box_about figure {
	margin-bottom: 10px;
	float: none;
	margin-right: 0;
}
.box_about figure img {
	width: 100%;
}
.collist1 {
	width: 100%;
}
}
/**********************************************************/
@media (max-width: 480px) {
.badge_3 {
	float: none;
	margin-bottom: 10px;
}
.collist3 {
	width: 100%;
}
.list2col {
	width: 100%;
}
.boxtube {
	width: 100%;
	height: 200px;
}
.welcome figure {
	margin: 0 15px 10px 0;
}
}
/**********************************************************/
@media (max-width: 420px) {
.colteam {
	width: 100%;
}
}
/**********************************************************/
@media (max-width: 360px) {
.welcome figure {
	width: 100%;
	float: none;
	margin: 0 0 10px;
}
.welcome figure img {
	width: 100%;
}
}
/*Core variables and mixins*/
img {
	max-width: 100%;
}
.img-circle {
	border-radius: 500px;
}
