{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/article.css">
{% endblock css %}


{% block content %}
<section class="article main bgwhite">
    <div class="container bgwhite">
        <article class="row">
            <div class="col-lg-9">
                <h1 class="title_welcome">{{ article.title }}</h1>
                {{ article.content }}         
                <img src="{{ article.image }}">   
            </div>
            <div class="col-lg-3">
                {% include 'includes/latest_posts.html' %}
            </div>
     
        </article>   
    </div>
    
</section>
{% endblock content %}