<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    {% include "head.html" %}
</head>

<body>
<!--==============================header=================================-->
<header id="header">
    
  <div class="container">
      <div class="row">
            {% include "navbar.html" %}
      </div>

    <hr>

  </div>
</header>
<!--==============================content=================================-->
<div id="content">
    <!--==============================slider=================================-->   
    {% block content %}
    {% endblock %}
</div>
<!--==============================footer=================================-->
<footer>
    {% include "footer.html" %}
</footer>

<script>
    // Ottieni l'anno corrente
    const currentYear = new Date().getFullYear();
    // Inserisci l'anno corrente nell'elemento con id "current-year"
    document.getElementById('current-year').textContent = currentYear;
</script>

{% block footjs %}
{% endblock %}

</body>
</html>
