{% extends "base.html" %}

{% block content %}
 <!--==============================row_1=================================-->   
    <section class="row_1"> 
        <div class="container">
            <article class="row">
                <div class="col-lg-12">
                    <div class="box1">
                        <div class="box1txt">
                            <p class="title1">Ogni giorno dalla Parte dell'ambiente</p>
                            <p class="title2">Ogni giorno al fianco di chi pedala</p>
                        </div>
                        <a href="#" class="btn btn-primary btn1">Associati</a>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!--==============================row_2=================================-->   
    <section class="row_2"> 
        <div class="container">
            <article class="row">
                <ul class="list1">
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4 collist1">
                        <div class="list1overflow">
                            <figure><img src="{{ SITEURL }}/theme/images/page1_icon1.png" alt=""></figure>
                            <p class="listtitle1">Mobilità Urbana<span>Città più ecosostenibili</span></p>
                        </div>
                        <p class="mbotlist1">FIAB lavora affinché sia incentivato l’uso della bicicletta come mezzo di trasporto quotidiano, con l’obiettivo di contribuire a ridurre l’inquinamento, mantenersi in salute, liberare lo spazio urbano da destinare alla socialità.</p>
                        <a href="#" class="btn btn-primary btn2">Scopri di più</a>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4 collist1">
                        <div class="list1overflow">
                            <figure><img src="{{ SITEURL }}/theme/images/page1_icon2.png" alt=""></figure>
                            <p class="listtitle1">Ciclo turismo<span>Turismo rispettoso dell'ambiente</span></p>
                        </div>
                        <p class="mbotlist1">FIAB sostiene il turismo in bicicletta in alternativa al turismo di massa con mezzi di trasporto invasivi. Il cicloturismo è rispettoso verso il territorio, oltre che una chiave di rilancio per le piccole economie locali.</p>
                        <a href="#" class="btn btn-primary btn2">Scopri di più</a>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4 collist1">
                        <div class="list1overflow">
                            <figure><img src="{{ SITEURL }}/theme/images/page1_icon3.png" alt=""></figure>
                            <p class="listtitle1">Scuola e Bambini<span>Per una nuova mobilità</span></p>
                        </div>
                        <p class="mbotlist1">FIAB svolge percorsi formativi sulla mobilità urbana rivolti ai giovani, e attività didattiche nelle scuole, attraverso il “Progetto Scuola” e l’organizzazione di eventi quali il Bicibus e il Bike to School.</p>
                        <a href="#" class="btn btn-primary btn2">Scopri di più</a>
                    </li>
                </ul>
            </article>
        </div>
    </section>
    <!--==============================row_3=================================-->   
    <section class="row_3">
        <div class="container"> 
            <div class="row">
                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 welcome">
                    <p class="title_welcome">SOCI FIAB<span>una miriade di vantaggi</span></p>
                    <figure><img src="{{ SITEURL }}/theme/images/page1_img1.jpg" alt=""></figure>
                    <div class="welcome_info">
                        <h3>Alcuni dei servizi per i soci</h3>
                        <p>Migliaia di gite e decine di viaggi in bicicletta. Copertura RC Bici, la responsabilità civile per ogni danno provocato a terzi che si causa circolando in bicicletta in qualsiasi paese europeo.  BC, una rivista completamente nuova che vuole affrontare una sfida difficile: diffondere la cultura della bicicletta e le pratiche di una mobilità diversa. Sconti e convenzioni presso numerose attività commerciali</p>
                    </div>
                </article>
                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2>Ultimi articoli</h2>
                    <div class="row">
                      <ul class="list-whatsnew">
                        {% for article in articles[:2] if article.category.name == 'NEWS' %}
                        <li class="col-lg-6 col-md-6 col-sm-6 whatsnewcol">
                            <div class="badge badge_1"><p class="badgetxt">{{article.date|strftime('%d')}}<span>{{article.date|strftime('%b')}}</span></p></div>
                                <div class="overflow">
                                    <h3><a href="#">{{ article.title|truncate(30, killwords=False)}}</a></h3>
                                    <p>{{ article.summary }}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--==============================row_4=================================-->   
    <section class="bgwhite">
        <div class="container"> 
            <div class="row_4">
                <div class="row">
                    <article class="col-lg-4 col-md-4 col-sm-12 col-xs-12 shortly">
                        <h2>shortly about us</h2>
                        <h3>Mes cuml dia sed inenias ingerto lot aliiqtes dolore ipsum.</h3>
                        <p>Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim com. Mes cuml dia sed inertio.</p>
                        <p>Nemo enim ipsam voluptatem voluptas sit. Aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui rationevoluptatem nesciunt lacusueni.</p>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12 racers">
                        <h2>Latest races</h2>
                        <h3>Cuml dia sed inenias ingerto lot aliiqtes dolore ipsum.</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 list2col">
                                <ul class="list2">
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">Lorem ipsum dolo.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">it amet consecte.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">consecter posu.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">lectus tristique.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">iaculis eleif diam.</a></p></li>
                                </ul>  
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 list2col">
                                <ul class="list2">
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">Lorem ipsum dolo.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">it amet consecte.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">consecter posu.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">lectus tristique.</a></p></li>
                                    <li><em><img src="{{ SITEURL }}/theme/images/bullet1.jpg" alt=""></em><p><a href="#">iaculis eleif diam.</a></p></li>
                                </ul>  
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h2>featured video</h2>
                        <div class="boxtube">
                            <iframe class="boxtube1" src="//www.youtube.com/embed/2kodXWejuy0"></iframe>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="bgslider"> 
        <div class="slider">
            <div class="camera_wrap">
                  <div data-src="{{ SITEURL }}/theme/images/picture1.jpg">
                  </div>
                  <div data-src="{{ SITEURL }}/theme/images/picture2.jpg">
                  </div>
                  <div data-src="{{ SITEURL }}/theme/images/picture3.jpg">
                  </div>
            </div>
        </div>
    </section>
    <!--==============================row_5=================================-->
    <div class="row_5">
        <div class="map2"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div> 
    </div>
  
{% endblock %}