<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img style="" alt="Fiab Cosenza Ciclabile" src="{{ SITEURL }}/theme/images/logo.svg">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse p-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Attivit&agrave;
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/pages/attivita#pedibus">Pedibus</a></li>
              <li><a class="dropdown-item" href="/pages/attivita#bimbimbici">Bimbimbici</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#bikeworker">Bikeworker Award</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#cicloturismo">Cicloturismo</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#mobilita-urbana">Mobilità Urbana</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#bike-and-beer">Bike and Beer</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#vialarotella">Via La Rotella</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#fotografia">Fotografia</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#contabici">Contabici</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#corsi">Corsi</em></a></li>
              <li><a class="dropdown-item" href="/pages/attivita#pa" class="last" href="#">Aziende e Comuni</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Chi Siamo
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Organigramma</em></a></li>
                <li><a class="dropdown-item" href="/pages/gruppi-di-lavoro">Gruppi di Lavoro<em class="indicator2"></em></a>
                  <ul>
                    <li><a class="dropdown-item" href="/pages/ gruppi-di-lavoro#tracce">Gruppo Tracce</a></li>
                    <li><a class="dropdown-item" href="/pages/gruppi-di-lavoro#comunicazione">Gruppo Comunicazione</a></li> 
                    <li><a class="dropdown-item" href="/pages/gruppi-di-lavoro#scuola">Gruppo Scuola</a></li> 
                    <li><a class="dropdown-item" href="/pages/gruppi-di-lavoro#pa">Gruppo Relazioni PA</a></li> 
                    <li><a class="dropdown-item" class="last" href="/pages/gruppi-di-lavoro#eventi">Eventi ed Attività</a></li>                       
                  </ul>
                </li>
                <li><a class="dropdown-item" href="/pages/statuto">Statuto</em></a></li>
                <li><a class="dropdown-item" href="#">Diventa Socio</em></a></li>
                <li><a class="dropdown-item" href="#">Contatti</em></a></li>
           </ul> 
        </li>

      </ul>
<!--
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
-->
    </div>
  </div>
</nav>
